.navbar-toggler:focus,
.navbar-toggler:active {
  outline-style: none;
  box-shadow: none;
}
nav {
  min-height: 50px;
  padding-left: 15px;
}
body {
  background: #ffffff;
}

ul li a {
  color: rgb(0, 0, 0) !important; /*改主選單顏色*/
  font-family: DFKai-sb; /*主選單的字形，如果要一個一個改這個要拿掉(標楷體)*/
}
ul li a:hover {
  background-color: #b8f1ff !important;
  color: white !important;
}
.nav-link {
  padding: 14px;
}
.navbar-nav li ul.dropdown-menu {
  display: none;
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0%;
  left: 100%;
}
.dropdown-menu > li > a:hover:after {
  transform: rotate(-90deg);
  transition: 1s;
}
@media (max-width: 600px) {
  .container {
    width: 400px;
    height: 400px;
  }
  ul li a:hover {
    background-color: #ead9cd !important;
  }
  ul li a.dropdown-item:hover {
    background-color: #ead9cd !important;
  }
  .dropdown-menu {
    border: none;
    padding-top: 0px;
    background-color: transparent;
  }
  .dropdown-item {
    width: 100px;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0%;
    left: 200%;
  }
}
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
h1 {
  font-family: 標楷體;
}
h2 {
  font-family: fantasy;
}
