.carousel-item img {
  width: 100%;
  height: 600px;
}
.carousel-item h2,
.carousel-item h3 {
  color: white;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(to bottom right, red, yellow, blue, red);
}
.flex-container > div {
  width: 250px;
  margin: 10px;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.carousel-control-prev,
.carousel-control-next {
  font-weight: bold;
  font-size: 40px;
  color: white;
  border-radius: 50%;
}
div.carousel-indicators {
  position: absolute;
  bottom: 5px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
  border-radius: 50%;
}
.carousel-indicators .btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: green;
  font-size: 20px;
}
.carousel-indicators .btn.active {
  outline-style: none;
  background: yellow;
}
.carousel-indicators .dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 2px solid;
  border-color: #ffffff; /*照片輪播點點外框顏色*/
}
.carousel-indicators .dot.active,
.carousel-indicators .dot:hover {
  background-color: #cefeff; /*照片輪播點點顏色*/
}
.caption {
  text-align: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 2px 16px;
  color: white;
}
